

/* ===== Primary Styles ========================================================
   Author: ympbyc
   ========================================================================== */


h2.man-th {
    line-height : 1.3em;
    position : fixed;
    font-size : 1.1em;
}
h2.top-left {
    top : 10px;
    left : 10px;
}
h2.top-right {
    top : 10px;
    right : 10px;
}
h2.bottom-left {
    bottom : 10px;
    left : 10px;
}
h2.bottom-right {
    bottom : 10px;
    right : 10px;
}
#scroll_indicator {
    line-height : 1.3em;
    position : fixed;
    font-size : 1.1em;
    background-color : #010;
    color : #fff;
}
#content {
    font-size : 14px;
    margin : 10px;
    line-height : 1.5em;
}
h1.man-sh {
    font-size : 1.2em;
}
div.man_content {
    padding : 4px 50px 4px 50px;
}
#man_thumbnail {
    float : right;
    margin-right : 20px;
    margin-top : 20px;
    height : 80px;
    width : 80px;
}
.mouseover {
    background-color : #fff;
}
button.you {
    width : 200px;
    margin : 2px;
}
input.you {
    margin : 2px;
    width : 190px;
}
